@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Questrial&display=swap");
@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showSlider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showSlider {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 300rem;
  margin: 0 auto;
  overflow: hidden;
}

.headingTwo {
  font-family: 'Questrial', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.headingThree {
  font-family: 'Questrial', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  margin-bottom: 1rem;
  color: #111111;
}

.limeColorSpan {
  color: #00FF00;
}

.button {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  background: none;
  border: none;
  border-bottom: 1px solid #111111;
  padding: 0.5rem;
  margin-top: 3rem;
  z-index: 0;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #00FF00;
  z-index: -1;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.button:hover::after {
  height: 100%;
}

.button--footer {
  color: #FFFFFF;
  border-bottom: 0.1rem solid #FFFFFF;
}

.socialMediaLink {
  text-decoration: none;
  color: #111111;
  font-size: 1.5rem;
}

.socialMediaLink--footer {
  color: #FFFFFF;
  font-size: 2rem;
  border-radius: 50%;
  padding: 1rem;
}

.boxHeading__cube {
  width: 25rem;
  height: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.boxHeading__cubeImage {
  opacity: 0;
  padding: 1rem;
  -webkit-animation: 5s linear 1s infinite alternate showDots;
          animation: 5s linear 1s infinite alternate showDots;
}

.button--navigationShow,
.button--upToSide {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 2rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: #00FF00;
  z-index: 1000;
  cursor: pointer;
}

.button--upToSide {
  top: 90%;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

.buttonLinkUpToSide {
  color: #111111;
}

.link {
  -webkit-transition: background-color 0.5s, padding 0.5s;
  transition: background-color 0.5s, padding 0.5s;
}

.link:hover {
  background-color: #00FF00;
  padding: 1rem;
}

.navigation {
  width: 30rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #111111;
  color: #FFFFFF;
  z-index: 100;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.navigation__menu {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__link {
  font-size: 3rem;
  text-decoration: none;
  color: #FFFFFF;
  padding: 1rem 2rem;
}

.navigation__paragraph {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.navigation__contact {
  display: none;
}

.navigation__active {
  right: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 100vw;
  height: 70vh;
}

.header__headingOne {
  font-family: 'Questrial', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  background-color: #00FF00;
}

.header__headingTwo {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  background: #FFFFFF;
  padding: 0.3rem 0.6rem;
  margin-top: 3rem;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5rem 2rem;
  max-width: 120rem;
}

.aboutUs__boxHeadingCube {
  width: 25rem;
  height: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5rem 2rem;
  max-width: 120rem;
}

.work__boxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  position: relative;
}

.work__slider {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-top: 3rem;
}

.work__slideImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work__sliderButton {
  font-size: 4rem;
  background: none;
  border: none;
  color: #00FF00;
  cursor: pointer;
}

.work__sliderButton--next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1000;
}

.work__sliderButton--previous {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1000;
}

.slider__active {
  opacity: 1;
  -webkit-animation: showSlider 0.5s;
          animation: showSlider 0.5s;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5rem 2rem;
  max-width: 120rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.team__headingBox {
  width: 100%;
}

.team__teamBox {
  width: 100%;
  height: 60vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem auto;
}

.teamBox__image {
  width: 100%;
  height: 100%;
}

.teamBox__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 100%;
  height: 11rem;
  position: absolute;
  bottom: 5vh;
  background: rgba(0, 255, 0, 0.6);
  z-index: 1;
}

.teamBox__paragraphName {
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}

.teamBox__paragraphJob {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  padding: 0.5rem 0rem 1rem;
}

.teamBox__paragraph {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.teamBox__span {
  padding: 0.5rem;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5rem 2rem;
  max-width: 120rem;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem auto;
}

.clients__client {
  width: 50%;
  padding: 1rem;
}

.clients__clientImage {
  width: 100%;
  -webkit-filter: contrast(0%);
          filter: contrast(0%);
}

.clients__background {
  width: 100vw;
  background: #F5F5F5;
  margin-top: 10rem;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 5rem 2rem;
  max-width: 120rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.portfolio__box {
  width: 100%;
  height: 50vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem auto;
}

.portfolio__subjectProject {
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
}

.portfolio__categoryProject {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  padding: 0.5rem;
}

.portfolio__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  background: rgba(0, 255, 0, 0.6);
  z-index: 1;
}

.portfolio__image {
  width: 100%;
  height: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 100vw;
  background: #111111;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 5rem 3rem 0rem;
}

.footer__input {
  width: 100%;
  font-size: 1.8rem;
  background: none;
  border: none;
  border-bottom: 0.1rem solid #FFFFFF;
  color: #FFFFFF;
  padding: 0.5rem;
  margin: 1rem auto;
}

.footer__textarea {
  width: 100%;
  max-width: 90vw;
  min-height: 20vh;
  height: 20vh;
  font-size: 2.5rem;
  background: none;
  border: none;
  border-bottom: 0.1rem solid #FFFFFF;
  color: #FFFFFF;
  padding: 0.5rem;
}

.footer__socialMediaBox {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 2rem;
    margin-top: 8rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  .headingTwo--work {
    display: block;
    width: 65%;
  }
  .header__headingOne {
    font-size: 5.5rem;
  }
  .header__headingTwo {
    font-size: 2.5rem;
    letter-spacing: 1rem;
  }
  .aboutUs {
    max-width: 120rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin: 0 auto;
    padding: 5rem;
  }
  .aboutUs__boxHeading {
    position: relative;
    width: 50%;
    padding-right: 5rem;
  }
  .aboutUs__boxParagraph {
    width: 50%;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 5rem 5rem;
  }
  .work__boxText {
    max-width: 50%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    padding: 5rem 3rem 5rem 0rem;
  }
  .work__slider {
    width: 100%;
    height: 40vh;
    position: relative;
    -webkit-box-shadow: 0rem 0rem 1rem 0rem #00FF00;
            box-shadow: 0rem 0rem 1rem 0rem #00FF00;
  }
  .work__backgroundBox {
    width: 80vw;
    height: 50vh;
    position: absolute;
    left: 0;
    background-color: #F5F5F5;
    z-index: -1;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .team__teamBox {
    width: 30%;
    height: 35vh;
  }
  .teamBox__text {
    bottom: 2vh;
  }
  .clients__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .clients__client {
    width: 25%;
    padding: 2rem;
  }
  .clients__clientImage {
    width: 100%;
    height: 100%;
  }
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio__headingBox {
    width: 100%;
    display: block;
  }
  .portfolio__box {
    width: 30%;
    height: 25vh;
  }
  .portfolio__text {
    height: 7rem;
  }
  .navigation__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 2rem;
  }
  .footer__wrapper {
    width: 80%;
  }
  .footer__socialMediaBox {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .headingTwo {
    font-size: 5rem;
  }
  .paragraph {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .button {
    font-size: 1.8rem;
  }
  .socialMediaLink {
    font-size: 1.7rem;
  }
  .boxHeading__cube {
    position: absolute;
    top: 30%;
    right: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work {
    width: 100%;
    margin: 10rem auto;
  }
  .work__slider {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .work__boxHeadingCube {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 20%;
    left: -8%;
  }
  .work__backgroundBox {
    width: 70vw;
    height: 80vh;
    position: absolute;
    left: 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #00FF00;
    z-index: -1;
  }
  .team__teamBox {
    height: 50vh;
  }
  .team__teamBox--one {
    border-bottom: 1px solid #00FF00;
  }
  .team__teamBox--two {
    border-top: 1px solid #00FF00;
  }
  .team__teamBox--three {
    border-right: 1px solid #00FF00;
  }
  .team__teamBox:hover .teamBox__text {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .teamBox__text {
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-clip-path: circle(5% at 50% 50%);
            clip-path: circle(5% at 50% 50%);
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
  }
  .teamBox__paragraphName {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .teamBox__paragraphJob {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .teamBox__span {
    font-size: 1.8rem;
  }
  .teamBox__paragraph {
    margin-top: 1rem;
  }
  .clients__client {
    width: 22%;
    padding: 3rem;
    margin: 0 auto;
    -webkit-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s;
    transition: filter 1s;
    transition: filter 1s, -webkit-filter 1s;
  }
  .clients__clientImage {
    width: 100%;
    -webkit-filter: contrast(0%);
            filter: contrast(0%);
    -webkit-transition: -webkit-filter 1s;
    transition: -webkit-filter 1s;
    transition: filter 1s;
    transition: filter 1s, -webkit-filter 1s;
  }
  .clients__client:hover .clients__clientImage {
    -webkit-filter: contrast(100%);
            filter: contrast(100%);
  }
  .clients__background {
    width: 100vw;
    background: #F5F5F5;
    margin-top: 10rem;
  }
  .portfolio {
    margin-top: 10rem;
  }
  .portfolio__box {
    width: 30%;
    height: 30vh;
    cursor: pointer;
  }
  .portfolio__box:hover .portfolio__text {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
  .portfolio__text {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-clip-path 1s;
    transition: -webkit-clip-path 1s;
    transition: clip-path 1s;
    transition: clip-path 1s, -webkit-clip-path 1s;
    -webkit-clip-path: circle(5% at 50% 50%);
            clip-path: circle(5% at 50% 50%);
  }
  .portfolio__subjectProject {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
  .portfolio__categoryProject {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .footer__wrapper {
    width: 50%;
    max-width: 70rem;
  }
}
/*# sourceMappingURL=main.css.map */